<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Test</title>
</head>

<body>
    <h1>WebSocket Test</h1>
    <p id="message"></p>
    <script>
        var userId = 4; // Replace with the actual user ID you are testing with
        var socket = new WebSocket('ws://localhost:8000/ws/notifications/' + userId + '/');

        socket.onopen = function (event) {
            console.log('WebSocket connection established');
        };

        socket.onmessage = function (event) {
            var data = JSON.parse(event.data);
            console.log('Received notification: ' + data.message);
            // Update the message element with the received notification
            document.getElementById('message').innerText = data.message;
        };

        socket.onclose = function (event) {
            console.log('WebSocket connection closed');
        };

        socket.onerror = function (error) {
            console.log('WebSocket error: ', error);
        };

    </script>
</body>

</html>
